/* Common Shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
/* *{
    margin: 0;
    padding: 0;
} */
/* Navber Style */
.primary-color{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* Style for header */
.header{
    background-color: #FFF8F3;
    
}

.profile-pic{
    width: 320px;
    height: 440px;
}
.banner{
    display: flex;
    padding: 0px 30px 0px 150px;
    align-items: center;
    background-image: url(../images/header_bg.png) ;
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
}
.description{
    max-width: 800px;
    /* padding: 50px; */
    align-items: center;
}
.banner .profile-pic{
    width: 500px;
    height: 600px;
}
.para1{
    font-family: fantasy;
}
.banner .developer-pic{
    /* margin: 0px 0px 10px 100px; */
    padding: 0px 30px 100px 50px;
    align-items: center;
}
.dv{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* About Section Style Here */
.about{
    width: 900px;
    height: 350px;
    /* border-radius: 10px; */
    background: #FFF8F3;
    padding: 150px 200px;
    margin: 220px 530px 220px 410px;
    align-items: center;
}
.abt-description{
    color:  #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.abt-title{
    color: #181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



.footer{
    display: flex;
    justify-content: space-around;
}

.one{
    color: #757575;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.name{
    color: black;
    font-style: bold;
}




